<% include ../partials/header %>        
        <div class="show_container">    
                <img class="explored_image" src="<%= artdetails.image %>"> 
                <div class="caption">
                        <h4><%= artdetails.title %></h4>
                        <p><%= artdetails.description %></p>
                        <h3 class="pull-right">Rs <%= artdetails.price %></h3>
                        <p>Submitted By: <%= artdetails.author.username %></p>
                       <% if(currentUser){ %>
                        <details>
                                <summary>Contact Details</summary>
                                <p>
                                        Ph no. <%= artdetails.phone_no %><br>
                                        Email: <%= artdetails.Email %>
                                </p>
                        </details>
                        <% }   else    { %>

                        <% } %>
                        <% if(!currentUser){ %>
                            <a class="btn btn-outline-primary" href="/login">Login to see contact details</a>
                        <% }   else    { %>

                        <% } %>
                        <br>
                        <% if(currentUser && artdetails.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>   
                                        <a class="btn btn-outline-primary" href="/artcraft/<%= artdetails._id %>/edit">Edit</a>
                                        <form class="delete_form" action="/artcraft/<%= artdetails._id %>?_method=DELETE" method="POST">
                                                <button class="btn btn-outline-danger">Delete</button>
                                        </form>
                        <% } %>
                </div>
                <br><br>
                <hr>
                <a class="btn btn-outline-secondary" href="/artcraft" style="width: 100%;">Explore</a>
        </div>
        <div class="comment_container">
                <a class="btn btn-outline-primary" href="/artcraft/<%= artdetails._id %>/comments/new">Add New Comment</a>
                <br><br>
					<% artdetails.comments.forEach(function(comment){ %>
						<div class="comments">
						<dl>
								<dt><h6><%= comment.name.username %></h6></dt>
								<pre><dt>  - <em><%= comment.content %></em></dt></pre>
						</dl>
						<% if(currentUser && comment.name.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
								<a class="btn btn-outline-primary btn-sm" href="/artcraft/<%= artdetails._id %>/comments/<%= comment._id %>/edit">Edit</a>
								<form class="delete_form" action="/artcraft/<%= artdetails._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
										<button class="btn btn-outline-danger btn-sm">Delete</button>
									</form>
						<% } %>
						</div>
				<% }); %>
        </div>

<% include ../partials/footer %> 
